.sign-wrapper{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-title {
    font-family: 'IM_Hyemin-Bold';
    height: 3.5rem;
    font-size: 3rem;
}

.join-write-form {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding-top: 1rem;
}

.cont-title {
    display: flex;
    font-family: 'LeeSeoyun';
    font-size: 32px;
    text-align: center;    
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.username-wrapper, .useremail-wrapper, .password-wrapper {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#user-email, #password, #user-name, #confirm-password {
    font-family: 'LeeSeoyun';
    text-align: center;
    background: none;
    outline: none;
    border: 2px solid #000000;
    border-radius: 30px;
    font-size: 20px;
    align-items: center;  
    width: 350px;
    padding: 2px;
    margin: 15px 0px;
    height: 40px;
}

#confirm-password{
    margin-bottom:30px;
}

.naver-wrapper {
    flex-direction: row;
    margin-top: 20px;
    text-align: center;    
    align-items: center;
    justify-content: center;
}

.naver-icon {    
    float: left;
    margin: auto;
    width: 25px;
    height: 25px;
}

.naver-btn {
    font-family: 'LeeSeoyun';
    background: none;
    color: #FFFFFF;
    font-size: 25px;
    border: 4px solid #2DB400;
    padding: 12px 10px 12px 30px;
    background-color: hsl(105, 100%, 35%);
    margin: 0px 0px 0px 20px;
    width: 350px;
    margin-right: 10px;
}

.buttons{
    flex-direction: row;
    margin-top: 30px;
    text-align: center;    
    align-items: center;
    justify-content: center;
}


.join-page-btn {
    font-family: 'LeeSeoyun';
    background: none;
    color: #FFFFFF;
    font-size: 25px;
    border: 4px solid #9B8CD7;
    padding: 12px 10px 12px 10px;
    border-radius: 100px;
    background-color: #9B8CD7;
<<<<<<< HEAD
    width: 190px;
    margin: 0px 0px 0px 20px;
=======
    width: 350px;
>>>>>>> 369de35072bc04e480686db7432ad57a88a0c3cc
}