@media all and (min-width: 1200px) {
    body {
        height: 100vh;
    }
    }
    @media all and (max-width: 1200px) and (min-width: 768px) {
      body {
        height: 100vh;
    }
    }
    @media all and (max-width: 768px) {
      body {
        height: 100vh;
    }
}

.login-title {
    font-family: 'IM_Hyemin-Bold';
    height: 4rem;
    font-size: 3rem;
}

.cont-title {
    font-family: 'LeeSeoyun';
    font-size: 32px;
}

.login-write-form {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    padding-top: 1rem;
}

.login-wrapper{
    padding-top: 1rem;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loginForm{
    margin: 20px 0px 20px 0px;
}

#user-email, #password, #confirm-password {
    font-family: 'LeeSeoyun';
    text-align: center;
    background: none;
    outline: none;
    border: 2px solid #000000;
    border-radius: 30px;
    font-size: 20px;
    align-items: center;  
    width: 400px;
    padding: 2px;
    margin: 15px 0px;
    height: 45px;
}

.login-page-btn {
    font-family: 'LeeSeoyun';
    background: none;
    color: #FFFFFF;
    font-size: 25px;
    border: 4px solid #7BC0F0;
    padding: 12px 10px 12px 10px;
    border-radius: 100px;
    background-color: #7BC0F0;
    margin: 30px 0px 0px 0px;
    width: 190px;
}

.join-btn {
    font-family: 'LeeSeoyun';
    background: none;
    color: #FFFFFF;
    font-size: 25px;
    border: 4px solid #9B8CD7;
    padding: 12px 10px 12px 10px;
    border-radius: 100px;
    background-color: #9B8CD7;
    width: 190px;
}
