
@media all and (min-width: 1200px) {
    .jan-post-items{
        font-size: 20px;
    }
}
@media all and (max-width: 1200px) and (min-width: 768px) {
    .jan-post-items{
        font-size: 17px;
    }
}
@media all and (max-width: 768px) {
    .jan-post-items{
        font-size: 15px;
    }
}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    font-family: 'Nanum Gothic', serif;
}

a:link {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: yellow;
}