@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}


.search-tag {
  font-family: 'IM_Hyemin-Bold';
  display: flex;
  float: right;
  font-size: 30px;
  margin: 20px 20px 0px 0px;
}

.input-tag {
  font-family: 'IM_Hyemin-Bold';
  background: none;
  outline: none;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;  
  width: 170px;
  height: 32px;
  margin-left: 5px;
}

.search-button {
  font-family: 'IM_Hyemin-Bold';
  background: none;
  color: #FFFFFF;
  font-size: 25px;
  border: 4px solid #9B8CD7;
  border-radius: 50px;
  background-color: #9B8CD7;
  height: 38px;
  margin-left: 7px;
}

.mainButton {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 20px;
  overflow: 'hidden';
}

.monthName {
  font-family: 'IM_Hyemin-Bold';
  display: flex;
  position: relative;
  height: 4rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.write-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: right;
  margin: 0px 30px 10px 0px;
}

.write-btn{
  width: 90px;
  height:90px;
}

.wirteButton {
  margin: 0px 20px 10px 20px;
  width: 90px;
  height: 90px;
}

.post-list-style{
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.post-items{
  margin: 0 auto;
  text-align: center;
  font-family: 'IM_Hyemin-Bold';
  font-size: 20px;
  padding: 20px;
}
 
.post-items img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}