.mainButton {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 20px;
  overflow: 'hidden';
}

.monthName {
  font-family: 'IM_Hyemin-Bold';
  display: flex;
  position: relative;
  height: 4rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.write-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: right;
  margin: 0px 30px 10px 0px;
}

.write-btn{
  width: 90px;
  height:90px;
}

.wirteButton {
  margin: 0px 20px 10px 20px;
  width: 90px;
  height: 90px;
}