/* 전체 스크롤 지우기 */
body {
    -ms-overflow-style: none;
    overflow:hidden;
}
::-webkit-scrollbar {
    display: none;
}

.years-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.year-wrapper{
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-family: 'LeeSeoyun';
    text-align: center;
    font-size: 28px;
}

.year-2023 {
    width: 195px;
    height: 180px;
    margin: 20px 40px 0px 40px;
    position:relative;
    padding-bottom:28px;
}

.year-2024 {
    width: 218px;
    height: 190px;
    margin: 23px 40px 10px 40px;
    overflow: hidden;
}

.year-2025 {
    width: 175px;
    height: 160px;
    margin: 31px 40px 0px 40px;
    overflow: hidden;
    padding-bottom:32px;
}

.year-2026 {
    width: 150px;
    height: 150px;
    margin: 23px 40px -3px 40px;
    overflow: hidden;
    padding-top:8px;
    padding-bottom:40px;
}

.continue {
    align-content: center;
    justify-content: center;
    font-family: 'LeeSeoyun';
    text-align: center;    
    background: linear-gradient(to right top, #a871eb,  #8C9AD7);
    color: transparent;
    background-clip: text;
    font-size: 90px;
    margin: 160px 40px 0px 40px;
}


@media (max-width: 767px){
}

@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1200px) {
}